<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>get data</title>
</head>
<body>
  <div>
    <p>你的链接是<%= url%></p>
    <p>你打开的是<%= title%></p>
  </div>
</body>
</html>